body {
  width: 1060px;
  margin: 0 auto;
}

#myForm {
  margin: 0 auto;
}

label {
  padding-left: 3%;
}

.button{
  margin-left: 3%;
  background: lightgreen;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
}
#myMap {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}
#output{
  float: right;
}

#myMap{
  float: left;
}

.birdDetails{
  background: red;
}
