html{
  background-color: antiquewhite;
  height:100%;
  background: url(images/IMG_3262.jpg);
  background-size: contain;

}

body {
  width: 1060px;
  margin: auto;
  background-color: lightslategrey;
  box-shadow: 5px 5px 3px black;
}

header{
  height: 100%;
  width: 100%;
  background: url(images/IMG_1749.jpg);
  background-size: 1060px;
  background-position: center;
  height: 10em;
}

h1{
  text-align: center;
  color: orange;
  text-shadow: 2px 2px 2px black;
  padding-top: 50px;
  font-family: sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: underline;

}

#formContainer{
  width: 96%;
  margin: auto;
  padding-top: 1%;

}

#myForm {
  background: antiquewhite;
  padding: 1%;
  border-radius: 10px;
  border: solid;
  border-width: 2px;
  font-family: sans-serif;
  font-weight: bold;
}

label {
  padding-left: 3%;
}

.button{
  margin-left: 3%;
  background: lightgreen;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 2px 1px 1px black;
  cursor: pointer;
}

#logLocation {
  border: none;
  font-family: inherit;;
  font-weight: inherit;
  font-size: inherit;
}


#lowerContainer{
  width: 96%;
  margin: auto;
  padding-top: 3%;
}

footer{
  background-color: antiquewhite;
  clear:both;
  text-align: center;
  padding: 5px;
  margin: 5% auto;
  /*width: 1040px;*/

}

.clearfix:after,
.clearfix:after{
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

#myMap {
  width: 58%;
  height: 400px;
  margin: 0 auto;
  float: left;
  border-radius: 10px;
  border: solid;
  border-width: 2px;

}

#output{
  float: right;
  width: 36%;
  max-width: 400px;
  max-height: 378px;
  background: antiquewhite;
  padding: 10px;
  padding-left: 15px;
  overflow: scroll;
  border-radius: 10px;
  border: solid;
  border-width: 2px;
}

.birdDetails{
  background: lightgreen;
  margin: 5px;
  border-radius: 10px;
  padding-left: 10px;
  cursor: pointer;
  border: solid;
  border-width: 1px;
}

.bird{
  cursor: pointer;
}

.hidden{
  display:none;
}

.highlight{
  background-color: yellow;
}
